#
# Thorch LinuxLoader settings for AYN Thor.
#

[LinuxLoader]
Debug = true
Target = "Linux"
MassStorageLUN = 0
DefaultVolUp = "Linux"
UsbHostMode = false
HypUartEnable = false
DisableDisplayHW = true

[Linux]
Image = "Image"
initrd = "initramfs-linux-thorch.img"
devicetree = "dtb/qcom/qcs8550-ayn-thor.dtb"
cmdline = "clk_ignore_unused pd_ignore_unused panic=30 audit=0 quiet rw rootwait rootdelay=15 allow_mismatched_32bit_el0 fw_devlink.strict=1 pcie_ports=compat irqaffinity=0-2 cgroup.memory=nokmem,nosocket nosoftlockup fbcon=rotate:1 console=tty0 console=ttyMSM0,115200n8 root=UUID=UUID_PLACEHOLDER rootfstype=ext4"

